
<style>
  body{
    display: flex;
    height: 100%;
  justify-content: center;
  align-items: center;
  }
  .name{
    text-align: center;
    margin-top: 10%;
    background-color: rgba(240, 240, 240, 0.6);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
  }
  .shrn{
    color: rgb(225, 245, 225);
  }
  .link{
    color: white;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
  }
  .footer{
    position : fixed;
    bottom : 10px;
    left : 10px;
    text-align : left;
    color : white;
    font-family : "Poppins", sans-serif;
    font-size : 10px;
   }

   .text-center{
    text-align: center;
   }
   html{
    font-family: "Poppins", sans-serif;
   }
</style>