.root{
	display: flex;
	padding: 20px 50px 20px 50px;
	background: rgba(255,255,255,0.3);
	font-family : "Calibri"; 
	text-align: center; 
	border-radius: 20px;
	margin : 0px 10% 30px 25%;
}

.header{
	background: rgba(255,255,255,0.9);
	padding: 20px 0px 30px 0px;
	font-family: "Calibri";
	position: relative;
	top: 0px;
}

.header:hover{
	background: #77f;
	color: #fff;
	padding: 22px 0px 28px 0px;
}


body{
	background: #99b;
	background-image : url(https://source.unsplash.com/random/1920x1080/?nature,water,green/);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	margin : 0px;
}

.post{
	display: flex;
	text-align: left;
	margin: 15px 10px;
	padding: 10px 25px;
	background: rgba(255,255,255,0.9);
	border-radius: 20px;
	}

.post:hover{
	background: rgba(130,130,255,0.8);
	color: #fff;
}

.js{
	padding: 0px 0px 0px 10px;
}
.left{
	flex: 70%;
}
.about{
	flex: 25%;
	padding: 10px 25px;
}
.data{
	flex: 60%;
}
.image{
	flex: 40%;
	margin: 10px;
	border-radius: 10px;
}
img { 
    width:100%; 
    height:100%;
    border-radius: 10px;
    object-fit:cover; 
    } 

@media only screen and (max-aspect-ratio: 8/5){
	.root{margin : 0px 15px 10px 15px;
		font-size : 40px;
		padding: 10px 10px 10px 10px;
		display: block;
		}
	.js{
		font-size : 60px;
	}
	.header{
		font-size : 100px;
	}
		
}

@media only screen and (max-width: 1000px){
	.root{margin : 0px 15px 10px 15px;
		padding: 10px 10px 10px 10px;}
		
}

