  .first{
    color : white; 
    size : 100px ;
    font-family: "Poppins", sans-serif; 
    font-size: 30px;
    margin : 100px 100px 100px 200px;
    text-align : center
  }
  body{
   position : absolute;
   text-align : center;
   top : 0;
   left : 0;
   right : 0;
   bottom : 0;
    background-image : url(https://source.unsplash.com/random/1920x1080/);
 }
 a{
  color : white;
    font-family : "Poppins", sans-serif;
    font-size : 10px;
 }
   .footer{
    position : absolute;
    bottom : 10px;
    left : 10px;
    text-align : left;
    color : white;
    font-family : "Poppins", sans-serif;
    font-size : 10px;
   }
 .search{
  margin : 0% 30% 0% 30%;
 }
  }
      
